.main {
  width: 500px;
  background-color: #fff;
  margin: auto;
  text-align: center;
  margin-top: 10px;
  padding: 30px 15px;
  font-size: 18px;
  border-radius: 10px;
  box-sizing: border-box;
}
.blogInputArea {
  display: flex;
  
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  label {
    width: 100px;
  }

  input {
    width: 100%;
    padding: 10px 5px;
    border-radius: 10px;
  }
}
button {
  width: 100%;
  background: blue;
  color: #fff;
  border: none;
  margin-top: 10px;
  border-radius: 10px;
  padding: 15px 0px;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  background-color: rgba(0, 0, 255, 0.623);
}

.blogarea{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
}
.blog{
    width: 450px;
    /* padding: 15px 10px; */
    background-color: #fff;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden !important;
    img{
        width: 100%;
        border-radius: 5px;
        height: 250px;
        overflow: hidden !important;
        object-fit: cover;
        transition: ease-in-out .4s;
    }
    .catagory{
        font-size: 20px;
        padding: 0px 10px;
        color: #5e5a5a;
    }
    h2{
        padding: 0px 10px;
    }
    p{
        padding: 0px 10px;
    }
    a{
        padding: 0px 10px;
        display: inline-block;
        padding-bottom: 15px;
    }
}
.blog img:hover{
transform: scale(1.1);
overflow: hidden;
}
